* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monsserrat, sans-serif;
}

/* input, button {
   appearance: none;
   background: none;
   border: none;
   outline: none;
} */

.App {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #53565A;
}

form {
   display: block;
   position: relative;
   
}
.avatar{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   position: absolute;
   top: -50px;
   left: calc(50% - 50px);
}

form:after {
   content: '';
   display: block;
   position: absolute;
   top: -5px;
   left: -5px;
   right: -5px;
   bottom: -5px;
   z-index: 1;
   background-image: linear-gradiant(to bottom right, #FFCE00, #FE4880);
}



form .form-inner {
    width: 320px;
    height: 350px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

form .form-inner h2 {
   margin: 0;
   padding: 0 0 20px;
   text-align: center;
   font-size: 22px;
}

form .form-inner ,form-group {
   display: block;
   width: 300px;
   margin-bottom: 15px;
}

.form-inner .form-group label {
   display: block;
   color: rgb(255, 255, 255);
   font-size: 12px;
   margin-bottom: 5px;
   transition: 0.4s;
}

.form-inner .form-group:focus-within label {
   color: #FE4880;
}

form .form-inner .form-group input {
   display: block;
   width: 100%;
   padding: 10px 15px;
   background-color: #F8F8F8;
   border-radius: 8px;
   transition: 0.4s;
}

form .form-inner .form-group input:focus {
   box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"],
.welcome button {
   border: none;
   outline: none;
   display: inline-block;
   padding: 10px 15px;
   border-radius: 20px;
   height:40px;
   width: 100%;
   background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
   background-size: 200%;
   background-position: 0%;
   transition: 0.4s;
   color: #FFF;
   font-weight: 700;
   cursor: pointer;
}
form .form-inner input[type="submit"]:hover,
.welcome button:hover {
   background-position: 100% 0%;
}


.welcome {
   width: 100%;
   max-width: 480px;
   background-color: #fff;
   padding: 15px 30px;
}

.welcome h2 {
   color: #888;
   font-size: 28px;
   font-weight: 500;
   margin-bottom: 30px;
}

.welcome h2 span {
   color: #FE4880;
   font-weight: 700;
}